.slider-container {
  width: 500px;
  height: 300px;
  position: relative;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.slider-before,
.slider-after {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-before {
  z-index: 2;
}

.slider-after {
  z-index: 1;
}
